__pycache__
__pycache__/*
things_to_try.txt
mod_example/step_*
mod_example/step_*/
mod_example/optimization_log.pkl
deform/step_*
pos_test/
pos_test/*
test/
test/*
angle_coeff_test/
angle_coeff_test/*